.q1-10{
  position: absolute;
  padding: 5px;
    top: 12%;
    left: 41.5%;
  
}
.q2-10{
  position: absolute;
  padding: 5px;
    top: 65.2%;
    left: 18.5%;

}
.q3-10{  position: absolute;
  padding: 5px;
top: 3%;
    left: 39.5%;

}
.q4-10{
  position: absolute;
  padding: 5px;
top: 65%;
    left: 46.5%;
}
.q5-10{  position: absolute;
  padding: 5px;
    top: 2.7%;
    left: 39.5%;

}
.q6-10{
  position: absolute;
  padding: 5px;
      top: 62.3%;
    left: 49%;

}
.q7-10{  
position: absolute;
  padding: 5px;
    top: 3%;
    left: 39%;
}
.q8-10{
 position: absolute;
  padding: 5px;
    top: 32.3%;
    left: 39.5%;
}
.q9-10{  
 position: absolute;
  padding: 5px;
    top: 3%;
    left: 54.5%
}
.q10-10{
  position: absolute;
  padding: 5px;
  top:48%;
  left: 70.5%;
}
.q11-10{  position: absolute;
  padding: 5px;
    top: 3%;
    left: 90.5%;


}
.q12-10{
  position: absolute;
  padding: 5px;
     top: 32.6%;
    left: 40%;}
  
.q13-10{position: absolute;
  padding: 5px;
    top: 72%;
    left: 89.5%;
} 
 

.q14-10{
  position: absolute;
  padding: 5px;
  top:83%;
  left: 73.5%;
}