.headset-icon-CD-page7 {
  position: absolute;
  cursor: pointer;
  position: absolute;

  padding: 5px;
top: 4%;
    right: 72.2%;

}

.pauseBtn-icon-CD-unit2-page4-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;

  padding: 5px;
  top: 6%;
  left: 44.2%;
}
