.headset-icon-CD-unit2-page6-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 36%;
  cursor: pointer;
}

.click-icon-unit2-page6-1 {
position: absolute;
    padding: 5px;
    top: 2.8%;
    left: 37.5%;
    cursor: pointer;
}
.click-icon-unit2-page6-2 {
    position: absolute;
    padding: 5px;
    top: 60.6%;
    left: 63.5%;
    cursor: pointer;

}
.headset-icon-CD-unit2-page6-2 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 24%;
  cursor: pointer;
}

