.q1-3 {
    position: absolute !important;
    padding: 5px !important;
    top: 13.5% !important;
    left: 49% !important;
}

.q2-3 {
      position: absolute !important;
    padding: 5px !important;
    top: 3% !important;
    left: 44.5% !important;
}

.q3-3 {
    position: absolute !important;
    padding: 5px !important;
top: 19.8% !important;
    left: 48.5% !important;


}

.q4-3 {
    position: absolute !important;
    padding: 5px !important;
    top: 58% !important;
    left: 41.5% !important;
}

.q5-3 {
      position: absolute !important;
    padding: 5px !important;
      top: 3% !important;
    left: 32% !important;
}

.q6-3 {
    position: absolute !important;
    padding: 5px !important;
       top: 59% !important;
    left: 82.5% !important;}

.q7-3 {
    position: absolute !important;
    padding: 5px !important;
    top: 69.5% !important;
    left: 40.5% !important;
}

.q8-3 {
    position: absolute !important;
    padding: 5px !important;
  top: 3% !important;
    left: 59.5% !important;
}

.q9-3 {
  position: absolute !important;
  padding: 5px !important;
        top: 47% !important;
    left: 61% !important;}

.q10-3 {
  position: absolute !important;
  padding: 5px !important;
top: 3% !important;
    left: 39.5% !important;
}

.q11-3 {
  position: absolute !important;
  padding: 5px !important;
    top: 55% !important;
    left: 71% !important;
}

.q12-3 {  
  position: absolute !important;
  padding: 5px !important;
    top: 3% !important;
    left: 78% !important;
}

.q13-3 {
  position: absolute !important;
  padding: 5px !important;
top: 29% !important;
    left: 39.5% !important;
}

.q14-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 80% !important;
  left: 73.5% !important;
}